<div class="headingWrapper">
  <div class="subnav textAlignCenter">
    <a href="#">Schedule</a>
    <a href="#">Speakers</a>
    <a href="#">Workshops</a>
    <a href="#">Contact</a>
    <a href="#">Sponsorship</a>
    <a href="#">Venue</a>
    <a href="https://deccanrubyconf.busyconf.com/proposals/new">CFP</a>
    <a href="#">Code Of Conduct</a>
  </div>
  <div class="textAlignCenter">
    <div class="deccan">#{ डेक्कन }</div>

    <div class="font22 margin15">19th July, 2014</div>
    <div class="font14">Save this date to your calendar for<br/>firstever Deccan RubyConf</div>
    <div class="btnSection textAlignCenter">
      <div id="bcumSpeaker" class="dIB font14">
        <%= link_to "BECOME A SPEAKER", 'https://deccanrubyconf.busyconf.com/proposals/new',
        { style: 'color: #FFFFFF; text-decoration:none;' }
        %>
      </div>
    </div>
  </div>
</div>

<div class="shareWrapper font22 textAlignCenter">
  FOLLOW US ON
  <br/>
  <div class="dIB bgBlue followUs">
    <span class="twIcon">
      <%= link_to image_tag('twitter-1.jpg'), 'https://twitter.com/deccanrubyconf' -%>
    </span>
  </div>
  <div class="dIB bgBlue followUs">
    <span class="twIcon">
      <%= link_to image_tag('fb.jpg'), 'https://www.facebook.com/deccanrubyconf' -%>
    </span>
  </div>

  <div class="jcarousel">
    <ul>
      <li>Houde Kharcha</li>
      <li>Houde Kharcha</li>
      <li>Houde Kharcha</li>
    </ul>
  </div>

  <div class="speakerWrapper">
    <div class="textAlignCenter sneakpeakTxt">
      Here is the Sneak-Peak of Invited/Speakers<br/>
      for Deccan RubyConf 2014
    </div>
    <div class="speaker dIB">
      <%= image_tag "speakers/satish.png", { height: "200", width: "200", style: "border-radius: 100px;" } %>

      <div class="speakerName">Sitish Talim</div>
      <div class="speakerDesg">RubyLearning.org Founder. Director at Josh Software and Maybole Technologies</div>
      <div class="shareIcons">
        <div class="dIB"><a href="https://twitter.com/IndianGuru" class="deccanRubySprite smallIcons twSmallIcon"></a></div>
      </div>
    </div>
    <div class="speaker dIB">
      <%= image_tag "speakers/koichi_sasada.jpg", { height: "200", width: "200", style: "border-radius: 100px;" } %>

      <div class="speakerName">Koichi Sasada</div>
      <div class="speakerDesg">Ruby Core, Heroku</div>
      <div class="shareIcons">
        <div class="dIB"><a href="https://twitter.com/_ko1" class="deccanRubySprite smallIcons twSmallIcon"></a></div>
        <div class="dIB"><a href="https://github.com/ko1" class="deccanRubySprite smallIcons gitSmallIcon"></a></div>
      </div>
    </div>
  </div>
</div>

<div>
  <img src=""/>
</div>
